.container {
  margin: 0 auto;
  // max-width: 1100px;
  width: 87%;
}
.section {
  padding: 3.5em 0;
}
.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $md) {
  }
}

.col {
  position: relative;
}

// .col + .col {
//   margin-left: 1.5em;
// }

.heading {
  &--secondary {
    font-size: 2rem;
    margin-bottom: 1.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
}

.iconify {
  margin-right: 0.3em;
  color: #fff;

  &--linkedin {
    font-size: 1.4rem;
    margin: 0;
  }

  &--hamburger-menu {
    color: $background;
    font-size: 2.5rem;
    margin-right: 0;
  }

  &--arrowdown {
    transition: all 0.35s;
    color: $accent;
    margin-left: auto;
  }
}

.btn {
  background-color: $accent;
  border-radius: 25px;
  color: #fff;
  display: inline-flex;
  padding: 0.75rem 1rem;
  font-weight: 400;
  margin-top: 2em;

  &:hover,
  &:active {
    background-color: #fff;
    color: $background;
  }

  &--center {
    @extend .btn;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
