.container {
  margin: 0 auto;
  width: 87%;
}
.section {
  padding: 3.5em 0;
}
.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.col {
  position: relative;
}

.heading {
  &--secondary {
    font-size: 2rem;
    margin-bottom: 1.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
}

.iconify {
  margin-right: 0.3em;
  color: #fff;

  &--footer {
    @extend .iconify;
    font-size: 1.5rem;
    margin: 0.1em;
  }

  &--linkedin {
    @extend .iconify;
    font-size: 1.2rem;
    margin: 0;
  }

  &--hamburger-menu {
    @extend .iconify;
    color: $background;
    font-size: 2.5rem;
    margin-right: 0;
  }

  &--arrowdown {
    @extend .iconify;
    transition: all 0.35s;
    color: $accent;
    margin-left: auto;
  }

  &--whatsapp--contact {
    @extend .iconify;
    color: $accent;
  }
  &--envelope--contact {
    @extend .iconify;
    color: $accent;
  }
}

.btn {
  background-color: $accent;
  border-radius: 25px;
  color: #fff;
  display: inline-flex;
  padding: 0.7em 1.5em;
  font-weight: 600;
  margin-top: 2em;
  border: 2px solid $accent;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.65px;

  &:hover,
  &:active {
    background-color: #fff;
    color: $accent;
  }

  &:active {
    opacity: 0.8;
  }

  &--center {
    @extend .btn;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  &--submit-form {
    @extend .btn;
    display: block;
    margin-left: auto;
    font-size: 1rem;
  }
}

.section--blog__entry {
  margin: 1em;
  flex: 1 13em;
  @media (min-width: $md) {
    width: 28%;
  }

  &__heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: $background;
    margin: 1em 0;
  }

  &__img {
    width: 100%;
  }

  &__text {
    padding-top: 1.5em;
    border-top: 1px solid $primary;
  }
}

.card {
  background: #fff;
  padding: 1.5em;
  margin: 0.5em;
  border-radius: 25px;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.navbar__item {
  padding: 0.45em 0.85em;
  transition: color, background 0.2s ease-in-out;
  @media (min-width: $lg) {
    margin: auto 0;
    text-align: center;
    padding: 0 0.2em;
  }

  &__link {
    display: block;
    position: relative;
    width: 100%;
    font-weight: 300;
    padding: 0.25em 0.45em;

    @media (min-width: $lg) {
      font-size: 0.9rem;
      border-radius: 25px;
    }
  }

  &__hover-border {
    position: relative;
    max-width: 0px;
    background: $accent;
    transition: all 0.15s ease-in-out;
    height: 2.5px;
  }
  &:hover {
    background: $accent;
    color: #fff;

    @media (min-width: $lg) {
      background: initial;
      color: unset;
    }
  }

  &:hover > &__hover-border {
    @media (min-width: $lg) {
      max-width: 100%;
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.section--contact__form {
  margin: 1.5em 0;
  @media (min-width: $md) {
    margin-top: 0;
  }

  &__input {
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    border-bottom: 3px solid $accent;
    width: 70%;
    background: transparent;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    @media (min-width: $md) {
      width: 95%;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      flex: 1 13em;

      &--textarea {
        @extend .section--contact__form__input-wrapper;
        margin-top: 1em;
        position: relative;
      }
    }

    &__label {
      margin-top: 0.25em;
      position: absolute;
      left: 7.5px;
      font-weight: 600;
      transition: all 0.2s linear;
      top: 0;
    }

    &:valid ~ &__label,
    &:focus ~ &__label {
      // bottom: 3.25rem;
      font-size: 0.85rem;
      font-weight: 500;
      left: 1px;
      top: -1.2rem;
      transition: all 0.2s linear;
    }
  }

  &__textarea {
    @extend .section--contact__form__input;
    border: 1px solid $accent;
    width: 100%;
    background: #fff;
    padding: 0.5em;

    &:valid ~ .section--contact__form__input__label,
    &:focus ~ .section--contact__form__input__label {
      top: -1.5rem;
    }
  }

  &__upper {
    margin-bottom: 1.5em;
  }

  &__error-msg {
    position: absolute;
    width: fit-content;
    background-color: hsl(0, 100%, 32%, 0.8);
    color: #fff;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.7rem;
    bottom: 14%;
    border-radius: 5px;

    &.show {
      padding: 0.5em 0.75em;
    }
    @media (min-width: $lg) {
      bottom: 16.5%;
    }
  }
}
