.container {
  margin: 0 auto;
  // max-width: 1100px;
  width: 87%;
}
.section {
  padding: 3.5em 0;
}
.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $md) {
  }
}

.col {
  position: relative;
}

.heading {
  &--secondary {
    font-size: 2rem;
    margin-bottom: 1.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
}

.iconify {
  margin-right: 0.3em;
  color: #fff;

  &--footer {
    @extend .iconify;
    font-size: 1.5rem;
    margin: 0.1em;
  }

  &--linkedin {
    @extend .iconify;
    font-size: 1.2rem;
    margin: 0;
  }

  &--hamburger-menu {
    @extend .iconify;
    color: $background;
    font-size: 2.5rem;
    margin-right: 0;
  }

  &--arrowdown {
    @extend .iconify;
    transition: all 0.35s;
    color: $accent;
    margin-left: auto;
  }

  &--whatsapp--contact {
    @extend .iconify;
    color: $accent;
  }
  &--envelope--contact {
    @extend .iconify;
    color: $accent;
  }
}

.btn {
  background-color: $accent;
  border-radius: 25px;
  color: #fff;
  display: inline-flex;
  padding: 0.7em 1.5em;
  font-weight: 400;
  margin-top: 2em;
  border: 2px solid $accent;

  &:hover,
  &:active {
    background-color: #fff;
    color: $background;
  }

  &--center {
    @extend .btn;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  &--submit-form {
    @extend .btn;
    display: block;
    margin-left: auto;
  }
}
