.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 87%;
}

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.col {
  position: relative;
}

// .col + .col {
//   margin-left: 1.5em;
// }

.iconify {
  margin-right: 0.3em;

  &.linkedin-icon {
    font-size: 1.4rem;
    margin: 0;
  }

  &.hamburger-menu {
    font-size: 2.5rem;
    margin-right: 0;
  }
}

.btn {
  background-color: $accent;
  border-radius: 25px;
  color: #fff;
  display: inline-flex;
  padding: 0.75rem 1rem;
  font-weight: 400;
  &:hover,
  &:active {
    background-color: #fff;
    color: $background;
  }
}
