@import 'theme';

.header {
  position: sticky;
  top: 0;
  z-index: 30;
  transition: all 0.25s ease-in-out;
  background: #fff;
}

.contact {
  background-color: $background;
  padding: 0.65em 0;

  &__container {
    @media (max-width: $xs) {
      width: 95%;
    }
  }
  &__email-wrapper::after {
    content: ' ';
    position: relative;
    left: 10px;
    width: 0.5px;
    background: #fff;
    height: 22px;
  }
  &__content {
    &-wrapper {
      display: inline-flex;
      align-items: center;
      position: relative;
      &--phone {
        @extend .contact__content-wrapper;
        margin-left: 0.2em;
        &::before {
          content: '';
          position: relative;
          background: #fff;
          height: 1em;
          margin: 0 0.15em;
          width: 1px;
        }
      }

      &--linkedin {
        @extend .contact__content-wrapper;
        margin-left: auto;
      }
    }
  }
  &__text {
    color: #fff;
    font-size: 0.6875rem;
  }
  &__link-wrapper {
    display: flex;
  }
}

.navbar {
  background-color: #fff;
  padding: 1.75em 0;
  position: relative;
  transition: all 0.25s ease-in-out;
  @media (min-width: $lg) {
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__img-wrapper {
    @media (min-width: $lg) {
      width: 30%;
      margin: 0;
    }
  }

  &__logo {
    width: 50%;
    max-width: 10em;
    @media (min-width: $lg) {
      width: initial;
    }
  }

  &__hamburger {
    color: $background;
    margin-left: auto;
    position: relative;
    &::before {
      display: inline-flex;
      content: ' ';
      position: relative;
      right: 7px;
      width: 2px;
      background: $background;
      height: 36px;
    }

    @media (min-width: $lg) {
      display: none;
    }
  }
  &__links {
    background: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    // padding: 0 0.85em;
    margin-top: 1.5em;
    box-shadow: 0 3.5px #0000001a;
    max-height: 0;
    transition: all 0.5s ease;

    &.visible {
      opacity: 1;
      visibility: visible;
      max-height: 350px;
    }

    @media (min-width: $lg) {
      width: auto;
      opacity: 1;
      visibility: visible;
      position: relative;
      display: flex;
      max-height: initial;
      box-shadow: none;
      margin-top: 0;
    }
  }
  &__item {
    padding: 0.45em 0.85em;
    @media (min-width: $lg) {
      margin: auto 0;
      text-align: center;
      padding: 0 0.2em;
    }

    &__link {
      display: block;
      width: 100%;
      font-weight: 300;
      padding: 0.5em 0.75em;
      transition: color, background 0.2s ease-in-out;
      @media (min-width: $lg) {
        font-size: 0.9rem;
        border-radius: 25px;
      }

      &:hover {
        background: $background;
        color: #fff;
      }

      &:active {
        opacity: 0.8;
      }
    }
    // &:hover:active {
    //   background: $background;
    // }
    // &:hover:active > &__link {
    //   color: #fff;
    // }
  }
  &__item + &__item {
    @media (min-width: $lg) {
      margin-left: 0.45em;
    }
  }
}

.section--hero {
  @extend .section;
  background: no-repeat center/cover url(../assets/Header.png),
    linear-gradient(90deg, #304c5b 0%, #3a494e 25%, #364044 50%, #3b4e58 75%);
  transition: all 0.5s ease-in-out;
  background-position: 60% center;

  @media (min-width: $lg) {
    padding: 7.5em 0;
    background-position: center 75%;
  }
  &__heading {
    width: min-content;
    color: #fff;
    font-weight: 900;
    line-height: 1.1;
    font-size: 3rem;
    padding-bottom: 0.7rem;
    margin: 0 auto;
    border-bottom: 3px solid #fff;

    @media (min-width: $lg) {
      font-size: 3.5rem;
      margin: 0;
      width: fit-content;
      margin-bottom: 0.35em;
    }
  }

  &__text {
    color: #fff;
    width: 75%;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.35rem;
    @media (min-width: $lg) {
      margin: 0;
      margin-bottom: 0.2em;
    }
  }

  &__container {
    text-align: center;
    @media (min-width: $lg) {
      text-align: left;
    }
  }
}

.section--two {
  @extend .section;
  text-align: center;

  &__container {
    @media (min-width: $lg) {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    @media (min-width: $lg) {
      margin: 0;
      padding: 0 2em;
      min-height: 4em;
      flex: 1;
    }
  }

  &__item + &__item {
    margin-top: 1.75em;
    border-top: 1px solid $stroke;
    padding-top: 2em;
    @media (min-width: $lg) {
      border: none;
      border-left: 1px solid $stroke;
      margin: 0;
      padding: 0 2em;
    }
  }
  &__img {
    width: 22%;
    max-width: 6.5rem;

    @media (min-width: $lg) {
      width: 30%;
      padding: 0 0.5em;
    }
  }
  &__text {
    text-transform: uppercase;
    width: 70%;
    margin-left: auto;
  }
}

.section--three {
  @extend .section;
  background-color: $background;

  &__row {
    justify-content: space-around;
    align-items: unset;
  }

  &__list {
    background: #fff;
    border-radius: 25px;
    padding: 1em;
    flex: 1 15em;
    margin: 0.5em;
  }

  &__item {
    font-size: 0.9rem;
    margin-bottom: 0.75em;

    &::before {
      // position: relative;
      // display: inline-flex;
      content: url('https://api.iconify.design/bi:check-circle-fill.svg?color=%238666ee&height=16');
      vertical-align: -0.125em;
      width: 1.5em;
      height: 1.5em;
      margin-left: 0.25em;
      margin-right: 0.35em;
    }
  }
}

.section--four {
  @extend .section;
  background: no-repeat center/cover url('../assets/section-four-img.png'), #fff;
  background-attachment: fixed;

  @media (min-width: $lg) {
    // background: none;
    position: relative;
    background-position: left;
    background-size: 50%;
  }

  &__heading {
    color: $background;
    text-align: center;
    margin-bottom: 1.5em;
  }

  &__list {
    background-color: #fff;
    padding: 1em;
    border-radius: 25px;

    &__dropdown {
      border-bottom: 2px solid $accent;
      padding-bottom: 0.5em;
      cursor: pointer;
    }

    &__item {
      padding-bottom: 1em;
      margin: 0.85em 0;
    }

    &__heading {
      color: $background;
      font-weight: 500;
      width: 60%;
    }
  }

  &__dropdown {
    &-content {
      position: relative;
      visibility: hidden;
      max-height: 0px;
      transition: all 0.5s ease;
      overflow: hidden;

      &.show {
        max-height: 700px;
        visibility: visible;
        transition: all 0.5s ease-in;
      }
    }
    &-text {
      padding: 0 0.5em;
      margin-top: 0.35em;
    }
  }

  &__content {
    @media (min-width: $lg) {
      width: 45%;
      margin: 0;
      margin-left: auto;
      font-size: 0.85rem;
    }
  }
  &__img {
    display: none;
    position: absolute;
  }
}

.section--faq {
  @extend .section;
  background: no-repeat center/cover url(../assets/section-faq-bg.png);
  position: relative;
  z-index: 20;

  &::before {
    content: '';
    position: absolute;
    mix-blend-mode: multiply;
    background-color: $background;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__container {
    text-align: center;
    align-items: unset;
  }

  &__heading {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &__col {
    background: #fff;
    padding: 1.5em;
    margin: 0.25em;
    flex: 1 23em;
    border-radius: 25px;
    font-size: 0.9rem;

    &__heading {
      border-radius: 10px;
      margin-bottom: 0.75em;
      color: #fff;
      font-weight: 600;
      background: $background;
      width: 100%;
      padding: 0.5em 0.75em;
      font-size: 1.5rem;
    }

    &__content {
      margin-bottom: 0.75em;
    }
  }
}

.section--six {
  @extend .section;
  background: $background;
  color: #fff;
  position: relative;
  @media (min-width: $lg) {
    display: flex;
  }

  &__content {
    @media (min-width: $lg) {
      margin-left: 2em;
      width: 70%;
      max-width: 850px;
    }
  }

  &__heading {
    @media (min-width: $lg) {
      text-align: left;
    }
  }

  &__btn {
    @media (min-width: $lg) {
      margin-left: 1.5em;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 3em;
    width: 70%;
    opacity: 0.1;
    @media (min-width: $lg) {
      position: relative;
      opacity: 1;
      margin: 0;
      width: 25%;
    }
  }

  &__list {
    padding: 0 1em;

    &__bold {
      font-weight: 600;
    }

    &__wrapper {
      margin-top: 0.5em;
    }
    &__item {
      margin-bottom: 0.75em;
      &::before {
        content: url('https://api.iconify.design/bi:check-circle-fill.svg?color=%23fff&height=16');
        vertical-align: -0.125em;
        width: 1.5em;
        height: 1.5em;
        margin-left: 0.25em;
        margin-right: 0.35em;
      }
    }
  }
}

.section--blog {
  @extend .section;
  padding-left: 1em;
  padding-right: 1em;

  &__heading {
    color: $background;
  }

  &__entry {
    margin: 1em;
    flex: 1 13em;
    @media (min-width: $md) {
      width: 28%;
    }

    &__heading {
      font-size: 1.25rem;
      font-weight: 600;
      color: $background;
      margin: 1em 0;
    }

    &__img {
      width: 100%;
    }

    &__text {
      padding-top: 1.5em;
      border-top: 1px solid $primary;
    }
  }

  &__btn {
    background: none;
    color: $primary;
    border: none;
    font-weight: 600;
    font-size: 1.5em;
  }
}

.section--contact {
  @extend .section;
  background: no-repeat center/cover url(../assets/form-bg.png);
  position: relative;
  z-index: 20;

  &::before {
    content: '';
    position: absolute;
    mix-blend-mode: multiply;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__heading {
    color: $background;
    @media (min-width: $md) {
      text-align: left;
    }
  }

  &__col {
    flex: 1 18em;
  }

  &__col + &__col {
    @media (min-width: $md) {
      margin-left: 1.5em;
    }
  }

  &__info {
    margin-bottom: auto;
    flex-basis: 15em;

    &__name {
      display: block;
      font-weight: 600;
      color: $background;
      margin-bottom: 1em;
    }

    &__description {
      margin-bottom: 1em;
    }

    &__anchor {
      font-weight: 600;
    }
  }

  &__form {
    margin: 1.5em 0;
    @media (min-width: $md) {
      margin-top: 0;
    }

    &__input {
      padding-bottom: 0.5em;
      margin-bottom: 2em;
      border-bottom: 3px solid $accent;
      width: 70%;
      background: transparent;
      @media (min-width: $md) {
        width: 95%;
      }

      &-wrapper {
        position: relative;
        width: 100%;
        flex: 1 13em;

        &--textarea {
          @extend .section--contact__form__input-wrapper;
          margin-top: 1em;
          position: relative;
        }
      }

      &__label {
        margin-top: 0.25em;
        position: absolute;
        left: 7.5px;
        font-weight: 600;
        transition: all 0.2s linear;
        top: 0;
      }

      &:valid ~ &__label,
      &:focus ~ &__label {
        // bottom: 3.25rem;
        font-size: 0.85rem;
        font-weight: 500;
        left: 1px;
        top: -1.2rem;
        transition: all 0.2s linear;
      }
    }

    &__textarea {
      @extend .section--contact__form__input;
      border: 1px solid $accent;
      width: 100%;
      background: #fff;

      &:valid ~ .section--contact__form__input__label,
      &:focus ~ .section--contact__form__input__label {
        top: -1.5rem;
      }
    }
  }
}

.section--footer {
  @extend .section;
  background: $background;
  color: #fff;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;

  @media (min-width: $md) {
    font-size: 0.7rem;
    text-align: left;
  }

  &__row {
    display: block;
    @media (min-width: $md) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__col {
    // flex: 1 5em;
    // margin: 0 1.8em;
    justify-content: center;
    margin-top: 0.5em;
  }

  &__col + &__col {
    @media (min-width: $md) {
      margin-left: 1.8em;
    }
  }

  &__img {
    width: 90%;
    max-width: 18em;
    margin-bottom: 1em;
    @media (min-width: $md) {
    }
  }
}
