$white: #fff;
$primary: #585858;
$accent: #8666ee;
$background: #222551;
$stroke: #707070;
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: $primary;
}
@media (min-width: 650px) {
  html {
    font-size: 18px;
  }
}
