/*RESETS*/
*,
*::after,
*::before {
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

input,
textarea {
  border: none;
  appearance: none;
}

input:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}
@media (min-width: 620px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #585858;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

a,
p {
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 87%;
}

.section, .section--contact, .section--blog, .section--six, .section--faq, .section--four, .section--three, .section--two, .section--hero {
  padding: 3.5em 0;
}

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.col {
  position: relative;
}

.heading--secondary {
  font-size: 2rem;
  margin-bottom: 1.5em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.iconify {
  margin-right: 0.3em;
  color: #fff;
}
.iconify--linkedin {
  font-size: 1.4rem;
  margin: 0;
}
.iconify--hamburger-menu {
  color: #222551;
  font-size: 2.5rem;
  margin-right: 0;
}
.iconify--arrowdown {
  transition: all 0.35s;
  color: #8666ee;
  margin-left: auto;
}
.iconify--whatsapp--contact {
  color: #8666ee;
}
.iconify--envelope--contact {
  color: #8666ee;
}

.btn, .btn--submit-form, .btn--center {
  background-color: #8666ee;
  border-radius: 25px;
  color: #fff;
  display: inline-flex;
  padding: 0.75rem 1rem;
  font-weight: 400;
  margin-top: 2em;
}
.btn:hover, .btn--submit-form:hover, .btn--center:hover, .btn:active, .btn--submit-form:active, .btn--center:active {
  background-color: #fff;
  color: #222551;
}
.btn--center {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.btn--submit-form {
  display: block;
  margin-left: auto;
}

html {
  font-size: 16px;
}
@media (min-width: 620px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #585858;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

a,
p {
  line-height: 1.5;
}

.header {
  position: sticky;
  top: 0;
  z-index: 30;
}

.contact {
  background-color: #222551;
  padding: 0.65em 0;
}
.contact__container {
  width: 95%;
}
.contact__email-wrapper::after {
  content: " ";
  position: relative;
  left: 10px;
  width: 0.5px;
  background: #fff;
  height: 22px;
}
.contact__content-wrapper {
  display: inline-flex;
  align-items: center;
}
.contact__content-wrapper--phone {
  margin-left: 1em;
}
.contact__content-wrapper--linkedin {
  margin-left: auto;
}
.contact__text {
  color: #fff;
  font-size: 0.6875rem;
}
.contact__link-wrapper {
  display: flex;
}

.navbar {
  background-color: #fff;
  padding: 1.75em 0;
}
.navbar__logo {
  width: 50%;
  max-width: 16em;
}
.navbar__hamburger {
  color: #222551;
  margin-left: auto;
  position: relative;
}
.navbar__hamburger::before {
  display: inline-flex;
  content: " ";
  position: relative;
  right: 7px;
  width: 2px;
  background: #222551;
  height: 36px;
}
.navbar__links {
  background: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin-top: 1.5em;
  box-shadow: 0 3.5px #0000001a;
  max-height: 0;
  transition: all 0.5s ease;
}
.navbar__links.visible {
  opacity: 1;
  visibility: visible;
  max-height: 300px;
}
.navbar__item {
  padding: 0.45em 0.85em;
}
.navbar__item:hover:active {
  background: #222551;
}
.navbar__item:hover:active > .navbar__item__link {
  color: #fff;
}

.section--hero {
  background: no-repeat center/cover url(../assets/Header.png), linear-gradient(90deg, #304c5b 0%, #3a494e 25%, #364044 50%, #3b4e58 75%);
  background-size: cover;
  transition: all 0.5s ease-in-out;
}
.section--hero__heading {
  width: min-content;
  color: #fff;
  font-weight: 900;
  line-height: 1.1;
  font-size: 3rem;
  padding-bottom: 0.7rem;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}
.section--hero__text {
  color: #fff;
  width: 75%;
  margin: 0 auto;
  margin-top: 1em;
}
.section--hero__container {
  text-align: center;
}

.section--two {
  text-align: center;
}
.section--two__item + .section--two__item {
  margin-top: 1.75em;
  border-top: 1px solid #707070;
  padding-top: 2em;
}
.section--two__img {
  width: 22%;
  max-width: 6.5rem;
}
.section--two__text {
  text-transform: uppercase;
  width: 70%;
  margin-left: auto;
}

.section--three {
  background-color: #222551;
}
.section--three__list {
  background: #fff;
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 1.5em;
}
.section--three__list:last-child {
  margin-bottom: 0;
}
.section--three__item {
  font-size: 0.9rem;
  margin-bottom: 0.75em;
}
.section--three__item::before {
  content: url("https://api.iconify.design/bi:check-circle-fill.svg?color=%238666ee&height=16");
  vertical-align: -0.125em;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.25em;
  margin-right: 0.35em;
}

.section--four {
  background: no-repeat center/cover url("../assets/section-four-img.png"), linear-gradient(90deg, #b4a392 0%, #ab9688 25%, #d1c3bb 50%, #d3c9c3 75%);
}
.section--four__heading {
  color: #222551;
  text-align: center;
  margin-bottom: 1.5em;
}
.section--four__list {
  background-color: #fff;
  padding: 1em;
  border-radius: 25px;
}
.section--four__list__dropdown {
  border-bottom: 2px solid #8666ee;
  padding-bottom: 0.5em;
}
.section--four__list__item {
  padding-bottom: 1em;
  margin: 0.85em 0;
}
.section--four__list__heading {
  color: #222551;
  font-weight: 500;
  width: 60%;
}
.section--four__dropdown-content {
  position: relative;
  visibility: hidden;
  max-height: 0px;
  transition: all 0.5s ease;
  overflow: hidden;
}
.section--four__dropdown-content.show {
  max-height: 700px;
  visibility: visible;
  transition: all 0.5s ease-in;
}
.section--four__dropdown-text {
  padding: 0 0.5em;
  margin-top: 0.35em;
}
.section--four__img {
  display: none;
  position: absolute;
  filter: opacity(20%);
}

.section--faq {
  background: no-repeat center/cover url(../assets/section-faq-bg.png);
  backdrop-filter: hue-rotate(225deg);
}
.section--faq__container {
  text-align: center;
}
.section--faq__heading {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.section--faq__col {
  background: #fff;
  padding: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 25px;
}
.section--faq__col__heading {
  border-radius: 10px;
  margin-bottom: 0.75em;
  color: #fff;
  font-weight: 600;
  background: #222551;
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: 1.5rem;
}
.section--faq__col__content {
  margin-bottom: 0.75em;
}

.section--six {
  background: #222551;
  color: #fff;
  position: relative;
}
.section--six__img {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 3em;
  width: 70%;
  opacity: 0.1;
}
.section--six__list {
  padding: 0 1em;
}
.section--six__list__bold {
  font-weight: 600;
}
.section--six__list__wrapper {
  margin-top: 0.5em;
}
.section--six__list__item {
  margin-bottom: 0.75em;
}
.section--six__list__item::before {
  content: url("https://api.iconify.design/bi:check-circle-fill.svg?color=%23fff&height=16");
  vertical-align: -0.125em;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.25em;
  margin-right: 0.35em;
}

.section--blog {
  padding-left: 1em;
  padding-right: 1em;
}
.section--blog__heading {
  color: #222551;
}
.section--blog__entry {
  margin-bottom: 3em;
}
.section--blog__entry:last-child {
  margin-bottom: 0;
}
.section--blog__entry__heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222551;
  margin: 1em 0;
}
.section--blog__entry__img {
  width: 100%;
}
.section--blog__entry__text {
  padding-top: 1.5em;
  border-top: 1px solid #585858;
}
.section--blog__btn {
  background: none;
  color: #585858;
  font-weight: 600;
  font-size: 1.5em;
}

.section--contact__heading {
  color: #222551;
}
.section--contact__info__name {
  display: block;
  font-weight: 600;
  color: #222551;
  margin-bottom: 1em;
}
.section--contact__info__description {
  margin-bottom: 1em;
}
.section--contact__info__anchor {
  font-weight: 600;
}
.section--contact__form {
  margin: 1.5em auto;
}
.section--contact__form__col {
  width: 100%;
}
.section--contact__form__input {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 3px solid #8666ee;
  width: 70%;
}
.section--contact__form__input-wrapper {
  position: relative;
}
.section--contact__form__input-wrapper--textarea {
  margin-top: 1em;
}
.section--contact__form__input__label {
  margin-top: 0.25em;
  position: absolute;
  left: 7.5px;
  font-weight: 600;
}
.section--contact__form__textarea {
  border: 1px solid #8666ee;
  width: 95%;
}

/*# sourceMappingURL=main.css.map */
