/*RESETS*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #585858;
}

.container {
  width: 87%;
  margin: 0 auto;
  max-width: 1100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col {
  position: relative;
}

.iconify {
  margin-right: 0.3em;
}
.iconify.linkedin-icon {
  margin: 0;
  font-size: 1.4rem;
}
.iconify.hamburger-menu {
  font-size: 2.5rem;
  margin-right: 0;
}

.btn {
  display: inline-flex;
  margin-top: 2rem;
  background-color: #8666ee;
  padding: 0.75rem 1rem;
  color: white;
  border-radius: 25px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #585858;
}

.header {
  position: sticky;
}

.contact {
  background-color: #222551;
  padding: 0.65em 0;
}
.contact__container {
  width: 95%;
}
.contact__email-wrapper::after {
  content: " ";
  position: relative;
  left: 10px;
  width: 0.5px;
  background: white;
  height: 22px;
}
.contact__content-wrapper {
  display: inline-flex;
  align-items: center;
}
.contact__content-wrapper--phone {
  margin-left: 1em;
}
.contact__content-wrapper--linkedin {
  margin-left: auto;
}
.contact__text {
  color: white;
  font-size: 0.6875rem;
}
.contact__link-wrapper {
  display: flex;
}

.navbar {
  padding: 1.75em 0;
}
.navbar__logo {
  width: 50%;
}
.navbar__hamburger {
  margin-left: auto;
  position: relative;
}
.navbar__hamburger::before {
  display: inline-flex;
  content: " ";
  position: relative;
  right: 7px;
  width: 2px;
  background: #222551;
  height: 36px;
}
.navbar__links {
  background: white;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin-top: 1.5em;
  box-shadow: 0 3.5px #0000001a;
  height: 0;
  transition: all 0.5s ease;
}
.navbar__links.visible {
  opacity: 1;
  visibility: visible;
  height: 220px;
}
.navbar__item {
  padding: 0.45em 0.85em;
}
.navbar__item:hover:active {
  background: #222551;
}
.navbar__item:hover:active > .navbar__item__link {
  color: white;
}

.hero {
  background-image: url(/assets/Header.png);
  background-size: cover;
  padding: 3em;
}
.hero .hero__heading {
  width: min-content;
  color: white;
  font-weight: 900;
  line-height: 1.1;
  font-size: 3rem;
  padding-bottom: 0.7rem;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.hero .hero__text {
  color: white;
  margin-top: 1em;
}
.hero__container {
  text-align: center;
}

.section-two {
  padding: 1em 0;
  text-align: center;
}
.section-two__item {
  margin: 1em 0;
}
.section-two__item + .section-two__item {
  margin-top: 1.75em;
  border-top: 1px solid #707070;
  padding-top: 1em;
}
.section-two__img {
  width: 22%;
  max-width: 6.5rem;
}
.section-two__text {
  text-transform: uppercase;
  width: 70%;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
